<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" type="text/css" href="static/css/style.css">
<head>
    <meta charset="UTF-8">
    <title>forecasted values </title>
</head>
<a href="http://127.0.0.1:5000/seasonal"> for calculating seasonality</a>
<a href="http://127.0.0.1:5000/"> for calculating trend</a>
<body class="one">
<h1 align="center" style="background-color: orange">we have the forecasted values in this section</h1>
<p align="center">{{forecasted}}</p>
<img src="static\pics\forecast.png">
</body>
</html>